@import "main.css";
@import "sidebar.css";
@import "category_box.css";

/*****MAIN*****/

.summary,
.recents {
  display: block;
}

/*
.category[target="yellow"] {
  background-color: #ffb300;
}

.category[target="green"] {
  background-color: rgb(123, 182, 123);
}
*/
/***** recents *****/
.recents {
  height: max-content;
}
.table {
  margin-top: 15px;
  width: 100%;
}

thead {
  background-color: var(--gris);
  color: var(--blanco);
}

tbody tr:hover {
  color: var(--dark-yellow);
}
