:root {
  --amarillo: #ffb300;
  --gris: #363333;
  --blanco: #f1eaea;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*SIDEBAR*/
.user-img {
  width: 52px;
  border-radius: 100%;
  border: 1px solid var(--blanco);
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80px;
  background-color: var(--gris);
  padding: 0.4rem; /*0.8rem*/
  transition: all 0.5s ease;
}

.sidebar.active ~ .main-content {
  left: 250px;
  width: calc(100% - 250px);
}

.sidebar.active {
  width: 250px;
}

.sidebar #btn {
  position: absolute;
  color: var(--blanco);
  /*top: 1rem;*/
  left: 50%;
  font-size: 1.5rem;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}

.sidebar.active #btn {
  left: 90%;
}

.sidebar.active .top .logo {
  opacity: 1;
}

.user {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  margin: 0.5rem;
  margin-top: 3.5rem;
  display: none;
}

.sidebar.active .user {
  margin-top: 0;
  display: flex;
  margin-top: 0.3rem;
}

.sidebar.active p {
  line-height: 10px;
  margin-top: 10px;
}

.sidebar.active .user p {
  color: var(--blanco);
  opacity: 1;
  margin-left: 0.8rem;
}

.bold {
  font-weight: 600;
}

.sidebar p {
  display: none;
}

.sidebar.active p {
  display: block;
}

.sidebar ul li {
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 90%;
  margin: 0.8rem auto;
  line-height: 50px;
}

.sidebar ul li a {
  color: var(--blanco);
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.8rem;
}

.sidebar ul li a:hover {
  background-color: var(--blanco);
  color: var(--amarillo);
}

.sidebar ul li a i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
}

.sidebar .nav-item {
  display: none;
}

.sidebar.active .nav-item {
  display: block;
}

.sidebar.active ul {
  padding: 0;
}

.sidebar ul {
  padding: 0;
  margin-left: 4%;
}
/*TODO

bajar los iconos para poder tocar la barra de menu. el top del menu es correcto no borrar*/
/*MAIN*/

main {
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 80px;
  transition: all 0.5s ease;
  width: calc(100% - 80px);
  padding: 1rem;
  background-color: whitesmoke;
}

.container {
  background-color: white;
  border-radius: 10px;
  height: fit-content;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.container h3,
.summary h5 {
  margin-left: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info div {
  text-align: left;
  font-style: italic;
  font-weight: 600;
  margin: auto auto;
  margin-top: 10px;
  margin-right: 10px;
}

.user-info img {
  width: 52px;
  border-radius: 100%;
  border: 1px solid var(--amarillo);
}

.summary {
  margin-top: 15px;
  display: block;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem;
}

.card {
  width: 230px;
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  border: none;
}

.card-header {
  display: flex;
  justify-content: space-around;
}

.card-header h6,
.card-header i {
  margin-right: 2.5rem;
}

.card-header i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
